<style>
    body{
    margin:0;
}

a {
    color: black;
    text-decoration:none;
}

.saw {
    color: red;
}

h1 {
    font-size:65px;
    margin-bottom:0px;
}

h2 {
    border-bottom:2px solid red;
    padding:15px;
    font-size:40px;
    margin:20px;
    padding:50px;
}

p {
    font-size:20px;
}

h1, h2, h4, p {
    text-align:center;
}

ul{
    border-right:1px solid red;
    width:100px;
    margin:50px;
    padding:30px;
}

@media (max-width:800px){
    #grid{
        display: block;
    }
    ul{
        border-right:none;
    }
    h2 {
        border-bottom:none;
    }
    }
</style>